#nav {
    list-style: none;
    font-weight: bold;
    margin-bottom: 10px;
    margin-left: -315px;
    margin-right: -315px;
    text-align: center;
    height:40px;
    overflow: hidden;
}

h5 {
    font-family: 'Kalam';
    color:#1a237e;
}

body {
    background-color: #f1ead7;
}

.progress {
    width: 50%;
    margin-left: 45%;
    margin-top: 5%;
}

.determinate {
    color: #1a237e;

}

h6 {
    margin-left: 45%;
    margin-top: -34%;
    font-family: 'Kalam';
    color: #1a237e;
}

.flow-text1 {
    margin-top: -2%;
}

#Button {
    margin-left: 70%;
    font-family: 'Kalam';
}

#Projects {
    margin-left: -10%;
}

#Project_header {
    font-family: 'Love Ya Like A Sister', cursive;
    margin-left: 43%;
    color: #1a237e;
}

h4 {
    margin-left: 35%;
    font-family: 'Love Ya Like A Sister', cursive;
    color: #1a237e;
}

.card {
    width: 165%;
}

#Agile {
    margin-left: 97%;
    margin-top: -24%;
}

#JavaScript {
    margin-left: 97%;
    margin-top: 3.1%;
}

#HTML {
    margin-left: 97%;
    margin-top: 3.1%;
}

#CSS {
    margin-left: 97%;
    margin-top: 3.1%;
}

#SQL {
    margin-left: 97%;
    margin-top: 3.1%;
}

.page-footer {
   background-color: #1a237e;
   font-family: 'Kalam';
   text-align: center;
}

.nav-wrapper {
    margin-right: 20%;
    font-family: 'Kalam';
}

